<h1> <%=@post.title %> </h1>

<small> <%= @post.created_at.strftime("%d-%m-%y") %> </small>

<p> <%= @post.body %> </p>

<%= link_to "Edit post", edit_post_path %>

<%= link_to "Delete post", @post, :confirm => "Are you sure you want to delete the post?", :method => :delete %>