<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %>
|
<%= link_to 'Back', categories_path %>
|
<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %>

<hr>
<h3>Posts int this category</h3>

<% if @posts.any? %>
  <table>
    <thead>  
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to(post.title,post) %></td>
          <td><%= post.body %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %><td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %><td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no posts in this category</p>
<% end %>
